@import (reference) "./variables.less";
@import "./App-theme";
@import "./App-ie";

body {
  font-family: @font;
  font-size: @md;
  font-weight: 100;
  background-color: @black;
}

html, body, #root {
  height: 100vh;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  transition: .2s all ease-in;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: @size;
  padding-bottom: @size;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  .content {
    display: flex;
    flex: 1;
    height: 100%;
    overflow: hidden;
    aside {
      margin: @size @size 0;
      line-height: 1;
      font-size: 86%;
      nav {
        height: 100%;
        overflow: auto;
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            a {
              display: flex;
              padding: @size / 1.8 @size / 1.4;
              border-bottom-style: dotted;
              & > * + * {
                margin-left: @size / 1.8;
              }
            }
          }
          li:last-child a {
            border-bottom: none;
          }
        }
      }
      @media (orientation: portrait) {
        & {
          margin-right: 0;
        }
        nav {
          ul {
            li {
              a {
                padding-left: @size / 3.8;
                padding-right: @size / 3.8;
                span {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
    section {
      flex: 1;
      padding: @size 0 0 @size;
      box-sizing: border-box;
      height: 100%;
      overflow: hidden;
      & > * {
        box-sizing: border-box;
        height: 100%;
        overflow: auto;
      }
    }
  }
}

.tabs {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    li {
      a {
        &.active {
          border-bottom: none;
        }
      }
    }
    li + li {
      margin-left: @size;
    }
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  padding: @size;
  user-select: none;
  font-style: italic;
  font-size: 70%;
  white-space: nowrap;
  overflow: auto;
  & > * {
    display: flex;
  }
  & > * + * {
    margin-left: @size / 1.5;
  }
  & > em:last-child {
    display: none;
  }
}

.scrollhide::-webkit-scrollbar {
  display: none;
}

a {
  display: inline-block;
}

.btn {
  &.yellow {
    font-weight: 700;
  }
}

.waiting {
  padding: 0 @size;
}

.progress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -(@size / 4);
  .from {
    box-sizing: border-box;
    padding: @size / 5;
    position: relative;
    text-align: left;
    display: flex;
    align-items: flex-start;
    top: 100%;
    margin-top: @size / 4;
  }
  .to {
    box-sizing: border-box;
    padding: @size / 5;
    position: relative;
    text-align: right;
    display: flex;
    align-items: flex-start;
    top: 100%;
    margin-top: @size / 4;
  }
  .thumb {
    position: absolute;
    padding: @size / 5;
    box-sizing: border-box;
    width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    span {
      position: absolute;
      width: 0;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      bottom: 100%;
      left: 100%;
      margin-bottom: @size / 4;
    }
  }
}

.panel-gray {
  padding: @size;
  margin-bottom: @size;
}

.noStyles {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  background: inherit;
}

.arrowBack {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 @size;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: center !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.border-left {
  border-left: 1px dotted;
  &.opacity {
  }
}

.border-right {
  border-right: 1px dotted;
  &.opacity {
  }
}

.border-top {
  border-top: 1px dotted;
  &.opacity {
  }
}

.border-bottom {
  border-bottom: 1px dotted;
  &.opacity {
  }
}

.table {
  border-collapse: separate;
  border-spacing: 0;
  thead {
    th {
      vertical-align: bottom;
      font-size: 50%;
      text-transform: uppercase;
      user-select: none;
    }
  }
  .label {
    opacity: .7;
    white-space: nowrap;
  }
  tbody {
    td {
      vertical-align: top;
      small {
        font-size: 60%;
      }
    }
  }
  thead + tbody {
    tr:hover {
      cursor: pointer;
    }
    tr:first-child td {
      padding-top: @size * 1.4
    }
  }
  th, td {
    padding: @size / 2 @size;
    line-height: 1;
  }
  &.sm {
    th, td {
      padding: 0 @size / 2;
    }
  }
  &.md {
    th, td {
      padding: @size / 4 @size / 2;
    }
  }
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: rgba(185, 185, 185, 0.5);
}