// sizing

@size: 22px;

@lg: @size * 1.4;
@md: @size;
@sm: @size / 1.2;
@sl: @size / 1.6;
@sx: @size / 2.4;

@paddingLg: @lg / 1.2 @lg * 1.4;
@paddingMd: @md @md * 1.8;
@paddingSm: @sm @sm * 1.8;
@paddingSl: @sl @sl * 1.8;
@paddingSx: @sx / 1.8 @sx * 1.6;

@radius: @size / 2.7;

// font

@font: 'Roboto', sans-serif;