@import (reference) "../../styles/variables.less";
@import "./Button-theme";

.button {
  display: inline-block;
  overflow: hidden;

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: @md;
    padding: @paddingMd;
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;

    &.disabled {
      cursor: not-allowed;
    }

    &.radius {
      border-radius: @radius;
    }

    &.lg {
      font-size: @lg;
      padding: @paddingLg;
    }

    &.sm {
      font-size: @sm;
      padding: @paddingSm;
    }

    &.sl {
      text-transform: uppercase;
      font-weight: 100;
      font-size: @sl;
      padding: @paddingSl;
    }

    &.sx {
      text-transform: uppercase;
      font-weight: 100;
      font-size: @sx;
      padding: @paddingSx;
    }

    & > * {
      display: block;
    }

    & .svg {
      height: 1em;
    }

    & > * + * {
      margin-left: @size / 1.8;
    }
  }
}